.DS_Store
.git/lfs/objects/c2/c2/c2c20fb164b8e565cabe88750f9a85e40ba0f7ffffb4a1a389c749469adadd07
.git/lfs/objects/e5/50/e5502ae6eec8d354a7b8fa0ef126e342722e7b42a0a63f647b5473962f033745
.git/objects/21/3f913b94d1e76b0acdb697be38cf06083c5b73
.git/objects/36/7c72e1da3931b8b16a1645ae128c8658902901
.git/objects/45/97855ffaf7cccb6182733a9e3868113629d00e
.git/objects/87/6bc5e2a4c58fea154812a5a88eb15bec30de6f
.git/objects/89/c4aea623ee64ea3952247ebce1eb2441f78e2f
.git/objects/9d/38470e8253e1ec96574f1e166ceaa9b382f8df
.git/objects/9d/d4c98e6dbfa41e57d7e226f7624c2c3d79aaf0
.git/objects/pack/pack-1911a85efbea1e419d57fd966bd0cf0839f8a9de.pack
.git/objects/pack/pack-c56fcdd76e6a815d79be31d9aa2396524ec70aec.pack
.RData
.Rhistory
.Rproj.user
.Rproj.user/B678A8B1/jobs/490AF0EB-output.json
.vscode
*.gif
*.pdf
*.svg
data-products/*
data-products/bivariate_moran.csv
data-products/CAR_list_meta30m.RDS
data-products/CAR_list_meta30m.RDS.xz
data-products/fips-shape-immunity.geojson
data-products/geo-hexes/cbg_polygon_population (Unicode Encoding Conflict).geojson
data-products/geo-hexes/cbg_polygon_population.geojson
data-products/geo-hexes/cbg_polygon_population2.geojson
data-products/geo-hexes/cbg_population.shp
data-products/geo-hexes/hex_immune.geojson
data-products/geo-hexes/hex_tsa_all.geojson
data-products/geo-hexes/hex_tsa_alpha_wave.geojson
data-products/geo-hexes/hex_tsa_delta_wave.geojson
data-products/geo-hexes/hex_tsa_omicronera.geojson
data-products/geo-hexes/hex_tsa_preomicron.geojson
data-products/geo-hexes/hexid-immunity.csv
data-products/geo-hexes/hexid-immunity.geojson
data-products/geo-hexes/hexid-observation_preomicron_meta30m.dbf
data-products/geo-hexes/hexid-observation_preomicron_meta30m.shp
data-products/geo-hexes/hexid-observations_fullmodel.csv
data-products/geo-hexes/hexid-observations_fullmodel.geojson
data-products/geo-hexes/hexid-observations_immunity.csv
data-products/geo-hexes/hexid-observations_immunity.geojson
data-products/geo-hexes/hexid-observations_omicronera_meta30m.csv
data-products/geo-hexes/hexid-observations_omicronera_meta30m.geojson
data-products/geo-hexes/hexid-observations_omicronera.geojson
data-products/geo-hexes/hexid-observations_omicronNEW.csv
data-products/geo-hexes/hexid-observations_preomicron_meta30m_nomissing.geojson
data-products/geo-hexes/hexid-observations_preomicron_meta30m_with_missing.csv
data-products/geo-hexes/hexid-observations_preomicron_meta30m.csv
data-products/geo-hexes/hexid-observations_preomicron_meta30m.geojson
data-products/geo-hexes/hexid-observations_preomicron.csv
data-products/geo-hexes/hexid-observations_preomicron.geojson
data-products/geo-hexes/hexid-observations_preomicronNEW 2.csv
data-products/geo-hexes/hexid-observations_preomicronNEW.csv
data-products/geo-hexes/hexid-observations_preomicronNEW.csv.zip
data-products/geo-hexes/hexid-observations_preomicronNEWrafa.csv
data-products/geo-hexes/hexid-observations.csv
data-products/geo-hexes/hexid-obsevations_preomicron.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_omicronera_mainNEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_omicronera_SAIINEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_omicronera_SAINEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_preomicron_mainNEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_preomicron_SAIINEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_preomicron_SAINEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_reformat_omicronera_mainNEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_reformat_preomicron_mainNEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_reformat_preomicron_SAINEW.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_omicron.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_omicronera_main.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_omicronera_SAI.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_omicronera_SAII.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_omicronera.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_preomicron_main.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_preomicron_SAI.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_preomicron_SAII.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt_preomicron.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_omicron.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_omicronera_main.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_omicronera_SAI.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_omicronera_SAII.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_omicronera.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_preomicron_main.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_preomicron_SAI.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_preomicron_SAII.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_preomicron.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat_preomicron.csv.xz
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt-reformat.csv
data-products/geo-hexes/mixedmodel/alphas_weekly_regardless_rt.csv
data-products/geo-hexes/mixedmodel/alphas_weekly-reformat.csv
data-products/geo-hexes/mixedmodel/joined-weekly.csv
data-products/geo-hexes/observations_fullmodel.shp
data-products/geo-hexes/observations_immunity.geojson
data-products/geo-hexes/observations_omicronera.dbf
data-products/geo-hexes/observations_omicronera.shp
data-products/geo-hexes/observations_preomicron.dbf
data-products/geo-hexes/observations_preomicron.shp
data-products/geo-hexes/vectors/vectors_weekly_omicronera_mainNEW.geojson
data-products/geo-hexes/vectors/vectors_weekly_preomicron_mainNEW.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt_omicronera_main.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt_omicronera_SAI.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt_omicronera_SAII.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt_omicronera.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt_omicronera1.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt_preomicron_main.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt_preomicron_SAI.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt_preomicron_SAII.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt.geojson
data-products/geo-hexes/vectors/vectors_weekly_regardless_rt1.geojson
data-products/geo-hexes/vectors/vectors_weekly.geojson
data-products/hexgrid_infections_omicronera_weekly.geojson
data-products/hexgrid_infections_preomicron_weekly.geojson
data-products/hexgrid-infections-delta.geojson
data-products/tsa_immunity.csv
data-products/tsa_meta30m_run_preomicron_daily.csv
data-products/tsa_meta30m_run_preomicron_week.csv
data-products/tsa_meta30m_run_preomicron.csv
data-products/tsa_omicronera.csv
data-products/tsa_preomicron.csv
data-sources/cbg-polygons/cb_2019_us_bg_500k.shp
data-sources/fips-immunity.csv
Data/data-sources/cbg-polygons/cb_2019_us_bg_500k.shp
img/besag2_test_week.gif
img/daily_hex_preomicron.gif
img/extra_figures/fig3c_preomicron_main.pdf
img/extra_figures/figS4_percent_area.svg
img/extra_figures/tsa_delta_fps10.gif
img/extra_figures/weekly_hex_tsa_preomicron_fps10.gif
img/fig1.svg
img/weekly_hex_complete.gif
img/weekly_hex_omicronera.gif
img/weekly_hex_preomicron_meta30m_lipari.gif
img/weekly_hex_preomicron_meta30m_rainbow.gif
img/weekly_hex_preomicron_meta30m_turku.gif
img/weekly_hex_tsa_omicronera.gif
img/weekly_model_omicronera.gif
img/weekly_model_preomicron.gif
img/weekly_model_wholething.gif
img/weekly_model.gif
